<main>
<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
   <%= render 'books/list', books: @books, user: @user, book: @book %>
  <div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to book_path do %>
            <%= image_tag current_user.get_image(80,80) %>
          <br><%= current_user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path do %><%= @book_show.title %><% end %>
        </td>
        <td>
          <%= @book_show.body %>
        </td>
        <td>
          <% if @book_show.user == current_user %>
            <%= link_to"Edit", edit_book_path, class: "btn btn-sm btn-success" %>
          <% end %>
        </td>
        <td>
          <% if @book_show.user == current_user %>
            <%= link_to"Destroy", book_path(@book_show.id), class: "btn btn-sm btn-danger", method: :delete %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
</main>

